.container--hero {
  min-height: 59px;
  padding: 200px 0;
  text-align: center;
  color: #606060;
  font-size: 2rem;
  font-family: 'Ubuntu Condensed', sans-serif;
  background: url('../images/hero.jpg') center/cover no-repeat;
}
h1,h2 {

}

hr {
  margin-left: 35%;
  margin-right: 35%;
  background: yellowgreen;
}