.nav {
  display: inline-block;
  vertical-align: top;
  padding-top: 10px;
  margin-right: 15px;

  .__link {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    text-decoration: none;
    color: #000;
    transition: 0.3s;

    &:hover,
    &--active {
      color: greenyellow;
    }

    &:after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 5px;
      height: 5px;
      margin-left: 15px;
      border-radius: 50%;
      background: #424242;
    }

    &:last-child:after {
      display: none;
    }
  }
}