body {
  font-family: "Al Bayan";
  font-size: 1rem;
  line-height: 1;
  background: gainsboro;
  max-width: 1600px;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

ol, ul {
  list-style: none;
}

.clearfix {

  &:after {
    content: '';
    display: table;
    clear: both;
  }
}