.about
    .container__about--text
        a.button.button--about(href="#") About Us
        i.fa.fa-cutlery(aria-hidden="true")
        p.about__text Restaurant is a place for simplicity.Good food, good beer, and good service. Simple is the name of the game, and we’re good at finding it in all the right places, even in your dining experience. We’re a small group from Denver, Colorado who make simple food possible. Come join us and see what simplicity tastes like.
    .container__about--imgs
        ul.about__img
            li
                img(src="../images/about-1.jpg" alt="image about-1")
            li
                img(src="../images/about-2.jpg" alt="image about-2")
            li
                img(src="../images/about-2.jpg" alt="image about-3")
            li
                img(src="../images/about-4.jpg" alt="image about-4")
