-var menu = ['HOME', 'ABOUT', 'BREAD', 'DRINK', 'FOOD', 'CONTACTS']

header.header
    img.header--logo(src="../images/logo.png")
    ul.header__menu
        each item in menu
            if item === 'HOME'
                li.header--item
                    a.header--link.current(href="#")=item
            else
                li.header--item
                    a.header--link(href="#")=item




