.menu--list
    .menu--list_nav
        ul.header__menu.list__menu
            li.header--item
                a.header--link(href="#") All
            li.header--item
                a.header--link(href="#") Drink
            li.header--item
                a.header--link(href="#") Bread
            li.header--item
                a.header--link(href="#") Desert

    .menu--list_items
        ul.menu--list__list
            li.menu--list__img
                img.list__img(src="../images/about-1.jpg" alt="menu-list-1")
            li.menu--list__img
                img.list__img(src="../images/about-1.jpg" alt="menu-list-2")
            li.menu--list__img
                img.list__img(src="../images/about-1.jpg" alt="menu-list-3")
            li.menu--list__img
                img.list__img(src="../images/about-1.jpg" alt="menu-list-4")
            li.menu--list__img
                img.list__img(src="../images/about-1.jpg" alt="menu-list-5")
            li.menu--list__img
                img.list__img(src="../images/about-1.jpg" alt="menu-list-6")
            li.menu--list__img
                img.list__img(src="../images/about-1.jpg" alt="menu-list-7")
            li.menu--list__img
                img.list__img(src="../images/about-1.jpg" alt="menu-list-8")
