nav.nav
    -var menu = ['ABOUT', 'BREAD', 'DRINK', 'FOOD', 'CONTACTS']
    each item in menu
        if item ==='ABOUT'
            a.nav__link.nav__link--active(href="#")=item
        else
            a.nav__link(href="#")=item